
/* components/UserInfo.css */
.user-info-container {
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .heading {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input,
  .dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .separator {
    margin: 0 8px;
    font-size: 1em;
    color: #777;
  }
  
  .next-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color:#4B0082;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: #4B0082;
  }
  